<% include partials/header %>
	<section id="about">
		<div class="container">
			<h1>About</h1>
			<h2 class="orange">What if you could discuss and debate ideas freely online?</h2>
			<p>We're building an environment where ideas can be exchanged in a safe, smart and neutral way. This is a community where evidence and open-mindedness are valued above all.</p>
			<h1>Guidelines</h1>
			<b>Rule 1: Be courteous.</b>
			<p>1) Demeaning language, sarcasm, rudeness or hostility towards another user will get your comment removed. Repeated violations may result in a ban.</p>
			<b>Rule 2: Source your facts</b>
			<p>2) Source your facts. If you're claiming something to be true, you need to back it up with a qualified source. There is no "common knowledge" exception.</p>
			<b>Rule 3: Put thought into it</b>
			<p>3) Put thought into it. Explain the reasoning behind what you're saying. Bare statements of opinion, off-topic comments, memes, and one-line replies will be removed. Argue your position with logic and evidence.</p>
			<b>Rule 4: Address the arguments, not the person</b>
			<p>4) Address the arguments, not the person. The subject of your sentence should be "the evidence" or "this source" or some other noun directly related to the topic of conversation. "You" statements are suspect.</p>
		</div>
	</section>
<% include partials/footer %>
