<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Debate: Because 140 Characters Isn't Enough</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="navbar-component">
		<div class="navbar area">
			<a class="brand"><b>Debate</b></a>
			<nav role="navigation" id="navigation" class="list">
				<a class="item -link">About</a>
				<a class="item -link">Sign In / Sign Up</a>
			</nav>
			<button id="navButton" data-collapse data-target="#navigation" class="toggle">
				<span class="icon"></span>
			</button>
		</div>
	</div>

	<section id="trending">
		<div class="container">
			<h1>Should Obamacare be repealed?</h1>
			<img class="profile" src="/images/ro.jpg">
			<p>Rohit Tigga</p>
			<figcaption>Product Designer, Entrepreneur</figcaption>
			<p>Although ObamaCare does a lot right, it also has consequences that affect specific groups of Americans. Since ObamaCare has hurt a number of small businesses, has negatively impacted insurance premiums, and has enacted reforms that hurt some medical industries and workers, should it be repealed?</p>
			<div class="row">
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h1>Pro: More Access</h1>
					<p>Tens of millions of uninsured people have access to affordable, high-quality health insurance through Medicaid expansion, their employers, and the Health Insurance Marketplace.</p>
				</div>
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h1>Con: More Taxes</h1>
					<p>To get the money to help insure all these people, there are new taxes (mostly on high-earners and the healthcare industry). The taxes that may affect you directly are the individual mandate and the employer mandate.</p>
				</div>
			</div>
			<div class="row">
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h1>Pro: More Access</h1>
					<p>Tens of millions of uninsured people have access to affordable, high-quality health insurance through Medicaid expansion, their employers, and the Health Insurance Marketplace.</p>
				</div>
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h1>Con: More Taxes</h1>
					<p>To get the money to help insure all these people, there are new taxes (mostly on high-earners and the healthcare industry). The taxes that may affect you directly are the individual mandate and the employer mandate.</p>
				</div>
			</div>
			<div class="row">
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h1>Pro: More Access</h1>
					<p>Tens of millions of uninsured people have access to affordable, high-quality health insurance through Medicaid expansion, their employers, and the Health Insurance Marketplace.</p>
				</div>
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h1>Con: More Taxes</h1>
					<p>To get the money to help insure all these people, there are new taxes (mostly on high-earners and the healthcare industry). The taxes that may affect you directly are the individual mandate and the employer mandate.</p>
				</div>
			</div>
			<button class="supportButton">Support</button>
			<button class="opposeButton">Oppose</button>
			
		</div>
	</section>
	<script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/nav.js" type="text/javascript"></script>
</body>
</html>
