<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Debate: Because 140 Characters Isn't Enough</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	<script src="/javascripts/react/react.min.js" type="text/javascript"></script>
	<script src="/javascripts/react/react.dom.min.js" type="text/javascript"></script>
	<script src="/javascripts/react/browser.min.js"></script>
	<script src="/javascripts/trending.jsx" type="text/babel"></script>
</head>
<body>
	<div class="navbar-component">
		<div class="navbar area">
			<a href="" class="brand"><b>Debate</b></a>
			<nav role="navigation" id="navigation" class="list">
				<a class="item -link">About</a>
				<a class="item -link">Sign In / Sign Up</a>
			</nav>
			<button id="navButton" data-collapse data-target="#navigation" class="toggle">
				<span class="icon"></span>
			</button>
		</div>
	</div>
	<section id="hero">
		<div class="textContainer">
			<div class="container">
				<h1 class="title">Debate anyone and anything</h1>
				<p class="subtext">Because 140 characters isn’t enough</p>
				<a href=""><div class="startButton">Start a Debate</div></a>	
			</div>
		</div>
	</section>
	<section id="trending">
		<div class="container">
			<h3>What people are debating right now</h3>
			<div class="topics">
				<a class="topicPill" href="">Trump</a>
				<a class="topicPill" href="">Neil Gorsuch</a>
				<a class="topicPill" href="">Education</a>
				<a class="topicPill" href="">Health Care</a>
				<a class="topicPill" href="">Paul Ryan</a>
				<a class="topicPill" href="">Obama Wiretap</a>
				<a class="topicPill" href="">Military Budget</a>
				<a class="topicPill" href="">Russia</a>
				<a class="topicPill" href="">ISIS</a>
				<a class="topicPill" href="">Immigation</a>
				<a class="topicPill" href="">Travel Ban</a>
				<a class="topicPill" href="">Media</a>
			</div>
			<h3>Trending Debates & Opinions</h3>
			<div class="row">
				<div class="debate column _33">
					<a href="opinion">
						<div style="background-image: url('/images/debates/trump.png');" class="debateImage"></div>
						<p>Would Trump's travel ban make us safer?</p>
					</a>
				</div>
				<div class="debate column _33">
					<div style="background-image: url('/images/debates/devos.png');" class="debateImage"></div>
					<p>Is Betsy Devos qualified to be the Secretary of Education?</p>
				</div>
				<div class="debate column _33">
					<div style="background-image: url('/images/debates/obama.png');" class="debateImage"></div>
					<p>Should Obamacare be repealed?</p>
				</div>
			</div>
			<div class="row">
				<div class="debate column _33">
					<div style="background-image: url('/images/debates/fed.png');" class="debateImage"></div>
					<p>Should the Federal Reserve be abolished?</p>
				</div>
				<div class="debate column _33">
					<div style="background-image: url('/images/debates/conway.png');" class="debateImage"></div>
					<p>Should Kellyanne Conway be punished for promoting Ivanka Trump products?</p>
				</div>
				<div class="debate column _33">
					<div style="background-image: url('/images/debates/putin.png');" class="debateImage"></div>
					<p>Is there real evidence of Russia interfering with the 2016 U.S. election?</p>
				</div>
			</div>
			<div id="trending-content"></div>
		</div>
	</section>
	<script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/nav.js" type="text/javascript"></script>
</body>
</html>
