<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Debate: Because 140 Characters Isn't Enough</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="navbar-component">
		<div class="navbar area">
			<a href="" class="brand"><b>Debate</b></a>
			<nav role="navigation" id="navigation" class="list">
				<a class="item -link">About</a>
				<a class="item -link">Sign In / Sign Up</a>
			</nav>
			<button id="navButton" data-collapse data-target="#navigation" class="toggle">
				<span class="icon"></span>
			</button>
		</div>
	</div>
	<section id="opinion">
		<div class="container">
			<div class="row">
				<div class="coverImage" style="background-image: url('/images/debates/obamacare.jpg');"></div>
			</div>
			<h1>Should Obamacare be repealed? (2 rounds left)</h1>
			<div class="row">
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<p>Rohit Tigga</p>
					<figcaption>Product Designer, Entrepreneur</figcaption>
				</div>
				<div class="column _5">
					<div class="">
						<img class="profile" src="/images/ro.jpg">
						<p>Rohit Tigga</p>
						<figcaption>Product Designer, Entrepreneur</figcaption>
					</div>
				</div>
			</div>
			<p>Although ObamaCare does a lot right, it also has consequences that affect specific groups of Americans. Since ObamaCare has hurt a number of small businesses, has negatively impacted insurance premiums, and has enacted reforms that hurt some medical industries and workers, I believe it should be repealed.</p>
			<ol>
				<li><p>1. This debate will have 3 rounds. First round for acceptance. No new arguments or rebuttals in the final round.</p></li>
				<li><p>2. By accepting the debate, Con agrees to the following definitions: <span>Affordable Care Act Definitions and Reference</span></p></li>
				<li><p>3. Burden of Proof is shared. Pro must show that Obamacare is ineffective and should be repealed, and the Con must refute.</p></li>
			</ol>
			<h2>Read Debate Guidelines before participating</h2>
			<div class="round">
				<div class="">
					<img class="profile" src="/images/ro.jpg">
					<p>Rohit Tigga</p>
					<figcaption>Product Designer, Entrepreneur</figcaption>
				</div>
				<p>I thought of the families I've met who were struggling to get by without a loved one's full income, or whose loved ones had returned with a limb missing or nerves shattered, but who still lacked long-term health benefits because they were Reservists. And until we do, our conscience cannot rest. From Willow Creek to the 'emerging church,' from the Southern Baptist Convention to the National Association of Evangelicals, folks are realizing that the four walls of the church are too small for a big God.God is still speaking. Anger over welfare and affirmative action helped forge the Reagan Coalition. And it means taking full responsibility for own lives - by demanding more from our fathers, and spending more time with our children, and reading to them, and teaching them that while they may face challenges and discrimination in their own lives, they must never succumb to despair or cynicism; they must always believe that they can write their own destiny. You have shown what history teaches us - that at defining moments like this one, the change we need doesn't come from Washington.</p>
			</div>
		</div>
	</section>
	<script src="/javascripts/jquery-3.1.1.min.js" type="text/javascript"></script>
	<script src="/javascripts/nav.js" type="text/javascript"></script>
</body>
</html>