<% include partials/opinion-header %>
	<section id="opinions">
		<div class="container">
			<h1>Opinions</h1>
			<div class="tabs">
		      <p class="noWrap">
		        <span>All</span>
		        <span>Trending</span>
		        <span>New</span>
		        <span>Featured</span>
		        <span>Unanswered</span>
		      </p>
    		</div>

    		<div class="row">
				<div class="debate column">
					<a href="opinion">
						<div style="background-image: url('/images/debates/trump.png');" class="debateImage"></div>
						<p>Would Trump's travel ban make us safer?</p>
					</a>
				</div>
				<div class="debate column">
					<a href="opinion">
						<div style="background-image: url('/images/debates/trump.png');" class="debateImage"></div>
						<p>Would Trump's travel ban make us safer?</p>
					</a>
				</div>
				<div class="debate column">
					<a href="opinion">
						<div style="background-image: url('/images/debates/trump.png');" class="debateImage"></div>
						<p>Would Trump's travel ban make us safer?</p>
					</a>
				</div>
				<div class="debate column">
					<a href="opinion">
						<div style="background-image: url('/images/debates/trump.png');" class="debateImage"></div>
						<p>Would Trump's travel ban make us safer?</p>
					</a>
				</div>
			</div>
			<div id="opinion-content"></div>
		</div>
	</section>
<% include partials/footer %>