<% include partials/header %>
	<section id="opinion">
		<div class="container">
			<div class="row">
				<div style="background-image: url('/images/opinions/trump-sign.jpg');" class="coverImage"></div>
			</div>
				<h1>Did Trump’s refugee ban make us safer?</h1>
				<img class="profile" src="/images/ro.jpg">
				<p>Rohit Tigga</p>
				<figcaption>Product Designer, Entrepreneur</figcaption>
				<p>Though Trump intended to stop potential terrorists, is this effective? There is little reports of refugees from the marked countries killing any US citizens. Furthermore, he didn’t include any countries linked to 9/11 and more than 100,000 greencard holders were affected.</p>
			<div class="row">
				<div id="progressBar"></div>
			</div>
			<p><span>50% Support </span> <span class="floatRight">50% Oppose</span></p>
			<div class="row">
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h2>Pro: It prioritizes safety</h2>
					<p>It’s not a Muslim ban.  Trump called to place a 90 day ban on “countries of concern” as marked by the Obama Administration. The goal is to stop and vet potential criminals from terror-prone regions.</p>
				</div>
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h2>Con: Sad outcome</h2>
					<p>There have been hundreds of people who are students, grandmothers that are already citizens who are held up at the airport even though they have their paperwork. Very poor outcome and violated the 5th Amendment.</p>
				</div>
			</div>
			<div class="row">
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h2>Pro: Security is key</h2>
					<p>This is similar to when Obama curtailed refugees from Iraq and Iran. We need to put a process in place that allows law abiding and safe immigrants to our country. We don’t want to restrict immigration, but we are preventing potential criminals from coming in.</p>
				</div>
				<div class="column _5">
					<img class="profile" src="/images/ro.jpg">
					<h2>Con: Very Poorly Executed</h2>
					<p>The travel ban was poorly executed. Over 100,000 greencard holders were affected who posed to threat. Also the Department of Defense and Homeland Security weren’t aware of the details of the order, resulting in many innocent residents to be stranded at the airport. Even though the Obama Administration marked these countries as unsafe, that’s no excuse to rush an executive action and waste the time of people.</p>
				</div>
			</div>
			<button class="supportButton">Support</button>
			<button class="opposeButton">Oppose</button>
		</div>
	</section>
<% include partials/footer %>