<% include partials/header %>
	<section id="post">
		<div class="container">
			<h1>Start a Debate</h1>
			<h4>Before debating read our guidelines to make sure it’s eligible</h4>
			<div id="postForm">
				<form autocomplete="off">
					<p>Topic:</p><input type="text" id="topic" name="firstname" placeholder="Write question">
					<p>Include Tags for your Debate</p><input type="text" id="tags" name="tags" placeholder="">
					<p>Argument</p>
					<textarea id="argument" rows="4" cols="50" placeholder="Write a thoughtful well-researched introduction to your argument"> </textarea>
				</form>
				<div onclick="postDebate()" class="postButton"><p>Post</p></div>
			</div>
		</div>
	</section>
<% include partials/footer %>