<% include partials/header %>
	<div class="navbar-component">
		<div class="navbar area">
			<a href="" class="brand"><b>Debate</b></a>
			<nav role="navigation" id="navigation" class="list">
				<a class="item -link">About</a>
				<a class="item -link">Sign In / Sign Up</a>
			</nav>
			<button id="navButton" data-collapse data-target="#navigation" class="toggle">
				<span class="icon"></span>
			</button>
		</div>
	</div>
	<section id="post">
		<div class="container">
			<h1>Start a Debate</h1>
			<h4>Before debating read our guidelines to make sure it’s eligible</h4>
			<div id="postForm">
				<form autocomplete="off">
					<p>Topic:</p><input type="text" id="topic" name="firstname" placeholder="Write your argument question">
					<p>Position</p>
					<select id="position" name="position">
						<option value="pro">Pro/For</option>
						<option value="con">Con/Against</option>
					</select>
					<p>Include Tags for your Debate</p><input type="text" id="tags" name="tags" placeholder="">
					<p>Rounds</p>
					<select id="rounds" name="rounds">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
					<p>Debate Time</p>
					<select id="time" name="time">
						<option value="12 hours">12 hours</option>
						<option value="24 hours">24 hours</option>
						<option value="2 days">2 days</option>
						<option value="3 days">3 days</option>
					</select>
					<p>Argument</p>
					<textarea rows="4" cols="50" placeholder="Write a thoughtful well-researched introduction to your argument"> </textarea>
				</form>
				<div class="postButton"><p>Post</p></div>
			</div>
		</div>
	</section>
<% include partials/footer %>
